html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/Images/Home.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .container h1 {
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container form label {
    font-weight: bold;
  }
  
  .container form input[type="text"],
  .container form input[type="date"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .container form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .error-message {
    color: red;
    font-family: Arial, sans-serif;
    font-size: small;
  }